// sassc
@import url("fonts/Oxanium.css") all;
@import url("fonts/oxanium.css") all;
$bg-color: hsla(210, 48%, 17%, 1);
$bright-red: hsla(350, 100%, 45%, 1);
$dark-red: hsla(350, 65%, 45%, 1);
$btn-bg: hsla(210, 50%, 33%, 1);

body {

    input[type="text"],
    input[type="password"],
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select,
    textarea {
        border-radius: 0;
    }

    .mss_branding {
        margin: 1em 0;
        max-width: 25%;
    }

    #poststuff {
        .postbox .inside {
            overflow: auto;
            padding-top: 1px;
        }

        th {
            text-align: left;
        }

        ol {
            list-style-position: inside;

            &.mss_verify_integrity {
                white-space: pre;
                overflow: auto;
                height: 40vh;
                width: 100%;
                max-width: 100%;
            }
        }

        ul {
            list-style-position: inside;
            list-style-type: square;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
        }

        .mss_action {
            // button
            transition: all .1s linear;
            background: $btn-bg padding-box;
            color: white;
            padding: .618em 1em;
            border: none;
            font-weight: bold;
            line-height: 1;
            text-decoration: none;

            &:hover {
                background-color: hsl(210, 66%, 25%);
            }

            &:active {
                background-color: hsl(210, 100%, 15%);
            }

            &[disabled] {
                mix-blend-mode: luminosity;
                background: hsl(210, 50%, 33%) padding-box;
            }
        }

        // .postbox
        #mss_scanner {
            #mss_scan_hud {

                &,
                & * {
                    transition: all 1s ease-in-out;
                }

                width: 100%;
                margin-bottom: 1em;
                padding: 30px 45px 40px 0;
                font-size:.85em;
                background-image: linear-gradient(165deg, transparent, transparent),
                url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1780.44 32.38" preserveAspectRatio="none"><defs><style>.cls-1{fill:%2300000018;}</style></defs><polygon class="cls-1" points="0 32.38 32.38 0 395.65 0 414.44 18.79 1675.32 18.79 1693.07 1.04 1780.44 1.04 1780.44 32.38 0 32.38"/></svg>'),
                url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1749.13 26.96" preserveAspectRatio="none"><defs><style>.cls-1 {fill: %2300000018;}</style></defs><path class="cls-1" d="m1749.13,22.79v4h-1018.18l-22.79-22.79H0V0h1018.18l22.79,22.79h708.16ZM627.67,10l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm346.05,6.96l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Z"/></svg>'),
                none,
                url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.86 1781.07" preserveAspectRatio="none"><defs><style>.cls-1 {fill: %2300000018;}</style></defs><path class="cls-1" d="m0,.63h14.36v359.33l-14.36,14.36V.63Zm28.86-.63v1781.07H0V396.28l24.41-24.41V0h4.45Zm-6.55,1744.82H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Z"/></svg>');
                background-repeat: no-repeat;
                background-position: center center,
                top center,
                bottom center,
                left center,
                right center;
                background-size: cover,
                100% 20px,
                100% 20px,
                20px 80%,
                20px 80%;

                td {
                    padding: 0.38196601125em;

                    td {
                        padding: 0;
                    }
                }

                #top-row .left-col {
                    text-align: left;
                    vertical-align: top;
                }

                #top-row .middle-col {
                    text-align: left;
                    vertical-align: top;
                    font-weight: bold;
                    font-size: 1.17647059em;
                }

                #top-row .right-col {
                    text-align: left;
                    vertical-align: top;
                }

                #middle-row .left-col {
                    text-align: left;
                    vertical-align: top;
                }

                #middle-row .middle-col {
                    text-align: left;
                    vertical-align: top;
                }

                #middle-row .right-col {
                    text-align: left;
                    vertical-align: top;
                }

                #bottom-row .left-col {
                    text-align: left;
                    vertical-align: top;
                }

                #bottom-row .middle-col {
                    text-align: left;
                    vertical-align: top;
                }

                #bottom-row .right-col {
                    text-align: left;
                    vertical-align: top;
                }

                #mss-top-right {
                    float: right;
                }

                #mss_screen {

                    &,
                    & * {
                        transition: none;
                    }

                    position:relative;
                    width: 100%;
                    max-width: 60%;
                    overflow: hidden;
                    overflow: hidden;
                    text-align: left;
                    text-wrap: nowrap;
                    border: 2px inset #e6e6e680;

                    #mss_progress {
                        overflow: hidden;
                        // padding: 1em 1.618em;
                        border-top: 1em solid transparent;
                        border-right: 1.618em solid transparent;
                        border-bottom: 1em solid transparent;
                        border-left: 1.618em solid transparent;
                        font-weight: bolder;

                        &.scan_update, &.scan_updates_ {
                            background: linear-gradient(to bottom, transparent, #00ffff88 25%, transparent 25%, transparent);
                            background: linear-gradient(to bottom, transparent, #00ffff44 10%, #00ffffff 12.5%, transparent 12.5%, transparent);
                            background: linear-gradient(to bottom, transparent, rgba(0,255,255,0.1) 10%, cyan 12.5%, white 13.5%, transparent 13.5%, transparent 13.5%, transparent);
                            background-size: 100% 200%;
                            animation: updaterefresh 2s linear infinite;
                        }
                    }

                    // scanner is running
                    &.mss_status_stop {
                        #mss_progress:after {
                            content: '';
                            display: inline-block;
                            background: $dark-red;
                            height: 1.618em;
                            width: 1em;
                            animation: blink 1s linear infinite;
                        }
                    }

                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        /* Changed from auto to 100% */
                        position: absolute;
                        z-index: 9999;
                        top: 0;
                        /* Ensure it starts at the top-left corner */
                        left: 0;
                        background: repeating-linear-gradient(0deg, #00000026, #00000026 1px, transparent 1px, transparent 2px);
                    }

                    &.mss_status_stop:after {
                        animation: scanlines .25s linear infinite;
                    }
                }

                #mss_scan_btn[value="stop"] {
                    cursor: progress;
                    animation: borderMove 2s linear infinite;
                }

                #mss_scan_btn:disabled {
                    cursor: progress;
                    animation: fadeInOut 2s linear infinite;
                }
            }

            // #mss_scanner.postbox
            #mss_scan_results {
                display: table;
                overflow: hidden;
                text-wrap: nowrap;

                a:active,
                a:focus {
                    outline: none;
                    border: none;
                    box-shadow: none;
                }

                &,
                & * {
                    transition: all .2s linear;
                }

                display: table;
                margin: auto;

                a.mss_scan_issue {
                    padding: 0.38196601125em 0.61803398875em;
                    margin-bottom: 0.38196601125em;

                    &:first-letter {
                        text-transform: uppercase;
                    }

                    text-decoration: none;
                    font-weight: bolder;
                    color: white;
                    display: block;

                    &.severe {
                        background: $dark-red;
                        border: 1px solid transparent;

                        &:hover {
                            border: 1px solid $dark-red;
                        }
                    }

                    &.high {
                        background: hsla(30, 100%, 50%, 1);
                        border: 1px solid transparent;

                        &:hover {
                            border: 1px solid hsla(30, 100%, 50%, 1);
                        }
                    }

                    &.suspicious {
                        background: hsla(48, 100%, 83%, 1);
                        color: hsla(45, 100%, 40%, 1);
                        border: 1px solid transparent;

                        &:hover {
                            border: 1px solid hsla(48, 100%, 83%, 1);
                        }
                    }
                }
            }
        }

        //.postbox
        #mss_site_status {

            /* System Status Table */
            #system_status {
                th {
                    text-align: left;
                    white-space: nowrap;
                    vertical-align: top;
                }

                .mss_bricks {
                    display: inline-block;
                    padding: 4px 6px;
                    margin: 2px 4px 4px 0px;
                    background: hsla(210, 10%, 15%, 0.15);
                    font-weight: bold;
                }

                #hidden_files,
                .dir_container,
                .mss_bricks {
                    font-family: "Roboto Mono", monospace;
                    font-size: 11px;
                }

                .user_details {
                    margin-bottom: 1em;
                    padding-bottom: 1em;
                    border-bottom: 1px solid #eee;
                }

                .user_details:last-child {
                    padding-bottom: 0;
                    border-bottom: 0;
                }

                .user_details_session {
                    margin-bottom: .5em;
                    padding-bottom: .5em;
                    border-bottom: 1px solid #f7f7f7;
                }

                .user_details_session:last-child {
                    padding-bottom: 0;
                    border-bottom: 0;
                }

                .dir_count {
                    text-align: right;
                }
            }
        }

        // .postbox
        #mss_config {
            #mss_color_scheme {
                border-radius: 0px;
            }
        }
    }

    /*
For now only used by salt-shuffler ajax response.
*/
    .mss_error {
        border-left: 4px solid hsla(350, 60%, 50%, 1);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
        display: table;
        padding: 0.618em 1em;
    }

    .mss_warning {
        border: 1px solid hsla(210, 10%, 80%, 1);
        border-left: 4px solid hsla(45, 100%, 50%, 1);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
        display: table;
        padding: 0.618em 1em;
    }

    .mss_success {
        border-left: 4px solid hsla(180, 100%, 50%, 0.5);
        display: table;
        padding: 0.618em 1em;
    }

    #integrity_sb1_ad {
        background: hsl(216, 37%, 16%) radial-gradient(ellipse closest-side at center, hsl(216, 37%, 20%), hsla(0, 0%, 0%, 0));
        padding-bottom: 1em;

        :link,
        :visited {
            font-weight: normal;
            display: block;
            padding: 1em;
            border-bottom: 1px solid hsla(0, 0%, 0%, 0);
            font-weight: bold;
            color: hsl(0, 0%, 100%);
            border-image-source: linear-gradient(90deg, hsla(0, 0%, 0%, 0), hsla(216, 66%, 33%, 0.8), hsla(0, 0%, 0%, 0));
            border-image-source: linear-gradient(90deg, hsla(0, 0%, 0%, 0), hsl(350, 75%, 50%) 50%, hsla(0, 0%, 0%, 0));
            border-image-slice: 1;
            text-decoration: none;
        }
    }
}

body.mss_darko {
    color: hsl(200, 20%, 50%);

    .notice,
    div.updated,
    div.error {
        background: hsla(210, 33%, 27%, 0.5);
        border-top-color: hsla(210, 50%, 27%, 0.85);
        border-bottom-color: hsla(210, 50%, 27%, 0.85);
        border-right-color: hsla(210, 50%, 27%, 0.85);
    }

    #adminmenuback,
    #adminmenuwrap,
    #adminmenu,
    #adminmenu .wp-submenu {
        background: $bg-color;
        border-right: 1px solid transparent;
        outline: 1px solid hsla(190, 50%, 50%, 0.15);
    }

    select,
    select:focus {
        background: hsla(180, 100%, 15%, 0.5) padding-box;
        color: hsl(200, 15%, 50%);
        border: 1px solid transparent;
        outline: 1px solid hsla(180, 100%, 50%, 0.5);
        -webkit-appearance: auto;
        appearance: auto;
    }

    #wpcontent {
        background: $bg-color;

        h1,
        h2,
        h3 {
            color: hsl(200, 15%, 50%);
        }

        .postbox-header {
            border-bottom-color: hsla(210, 50%, 10%, 0.85);
        }
    }

    .postbox {
        border: 1px solid transparent;
        background: hsla(190, 50%, 50%, 0.15) padding-box;
        outline: 1px solid hsla(190, 50%, 50%, 0.66);
        outline: 1px solid hsla(190, 50%, 50%, 0.15);
    }

    .postbox.closed {
        .postbox-header {
            border-bottom: 0;
        }
    }

    #poststuff {
        font-family: Roboto, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

        .mss_action {
            background: hsla(180, 100%, 15%, 0.5) padding-box;
            background: hsla(180, 50%, 50%, 0.15) padding-box;
            background: hsla(180, 50%, 50%, 0.25) padding-box;
            color: hsl(180, 100%, 50%);
            border: 1px solid transparent;
            outline: 1px solid rgba(aqua, .5);

            &.loading {
                animation: btnloading 5s ease 0s infinite normal none running;
            }

            &:hover {
                background: hsla(210, 33%, 27%, 1) padding-box;
                background: hsla(180, 50%, 50%, 0.25) padding-box;
                box-shadow: 0px 0px 10px hsl(180, 33%, 27%);
            }

            &:active {
                color: white;
                background: hsla(180, 50%, 50%, 0.5) padding-box;
                box-shadow: 0px 0px 10px hsla(180, 100%, 50%, 0.75);
            }

            &[disabled] {
                background: hsla(180, 50%, 50%, 0.15) padding-box;
                box-shadow: none;
            }
        }

        // .postbox
        #mss_scanner {
            #mss_scan_hud {
                font-family: Oxanium,
                    'Space Mono',
                    monospace;
                font-weight: 600;
                color: aqua;
                background-image: linear-gradient(177.5deg, transparent, transparent, transparent, transparent, #ffffff11),
                    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1780.44 32.38" preserveAspectRatio="none"><defs><style>.cls-1{fill:%23ffffff18;}</style></defs><polygon class="cls-1" points="0 32.38 32.38 0 395.65 0 414.44 18.79 1675.32 18.79 1693.07 1.04 1780.44 1.04 1780.44 32.38 0 32.38"/></svg>'),
                    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1749.13 26.96" preserveAspectRatio="none"><defs><style>.cls-1 {fill: %23ffffff18;}</style></defs><path class="cls-1" d="m1749.13,22.79v4h-1018.18l-22.79-22.79H0V0h1018.18l22.79,22.79h708.16ZM627.67,10l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm7.39,0l16.96,16.96h2.95l-16.96-16.96h-2.95Zm346.05,6.96l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Zm7.39,0l-16.96-16.96h-2.95l16.96,16.96h2.95Z"/></svg>'),
                    none,
                    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.86 1781.07" preserveAspectRatio="none"><defs><style>.cls-1 {fill: %23ffffff18;}</style></defs><path class="cls-1" d="m0,.63h14.36v359.33l-14.36,14.36V.63Zm28.86-.63v1781.07H0V396.28l24.41-24.41V0h4.45Zm-6.55,1744.82H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Zm0-46.48H6.55v28.71h15.75v-28.71Z"/></svg>');

                #top-row .middle-col {
                    font-weight: 700;
                }

                #mss_screen {
                    box-shadow: 0px 0px 0px 2px #00ffff40,
                        0px 0px 0px 6px #172b4080;
                    border-color: transparent;
                }

                #mss_scan_btn {
                    background: #00ffff;
                    color: black;
                    font-weight: 900;
                    border: 1px solid aqua;
                }

                #mss_scan_btn:hover {
                    border: 1px solid transparent;
                }
            }

            #mss_scan_results {
                a.mss_scan_issue {
                    &.severe {
                        background: linear-gradient(90deg, rgba($dark-red, 0.25), transparent);
                        background-repeat: no-repeat;

                        &:hover {
                            border: 1px solid rgba($dark-red, 0.75);
                        }
                    }

                    &.high {
                        background: linear-gradient(90deg, hsla(30, 100%, 50%, .25), transparent);
                        background-repeat: no-repeat;

                        &:hover {
                            border: 1px solid hsla(30, 100%, 50%, .75);
                        }
                    }

                    &.suspicious {
                        color: hsla(45, 100%, 40%, 1);
                        background: linear-gradient(90deg, hsla(48, 100%, 83%, .25), transparent);
                        background-repeat: no-repeat;

                        &:hover {
                            color: white;
                            background: linear-gradient(90deg, transparent, hsla(48, 100%, 83%, .5));
                            border: 1px solid hsla(48, 100%, 83%, .75);
                        }
                    }
                }
            }
        }
    }
}

@keyframes updaterefresh {
    0% {
        background-position: 0 50%;
    }

    100% {
        background-position: 0 -150%;
    }
}

@keyframes borderMove {
    0% {
        border-color: aqua transparent transparent transparent;
    }

    25% {
        border-color: transparent aqua transparent transparent;
    }

    50% {
        border-color: transparent transparent aqua transparent;
    }

    75% {
        border-color: transparent transparent transparent aqua;
    }

    100% {
        border-color: aqua transparent transparent transparent;
    }
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }
}

@keyframes scanlines {
    0% {
        background-position: 0 0px;
    }

    100% {
        background-position: 0 -2px;
    }
}

@keyframes progressBar {
    0% {
        background-position: 0 0%;
    }

    100% {
        background-position: 0 100%;
    }
}

@keyframes scrollCredits {
    0% {
        top: 0;
    }

    50% {
        top: -100%;
    }

    100% {
        top: -100%;
    }
}

@keyframes btnloading {
    0% {
        background: linear-gradient(90deg, hsla(180, 50%, 50%, 0.15), hsla(350, 50%, 50%, 1) 0%, hsla(180, 50%, 50%, 0.15) 0%) padding-box;
    }

    25% {
        background: linear-gradient(90deg, hsla(180, 50%, 50%, 0.15), hsla(350, 50%, 50%, 1) 25%, hsla(180, 50%, 50%, 0.15) 25%) padding-box;
    }

    50% {
        background: linear-gradient(90deg, hsla(180, 50%, 50%, 0.15), hsla(350, 50%, 50%, 1) 50%, hsla(180, 50%, 50%, 0.15) 50%) padding-box;
    }

    75% {
        background: linear-gradient(90deg, hsla(180, 50%, 50%, 0.15), hsla(350, 50%, 50%, 1) 75%, hsla(180, 50%, 50%, 0.15) 75%) padding-box;
    }

    100% {
        background: linear-gradient(90deg, hsla(180, 50%, 50%, 0.15), hsla(350, 50%, 50%, 1) 100%, hsla(180, 50%, 50%, 0.15) 100%) padding-box;
    }
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}